# This File is Created by Tang Dynasty.
set ADCList {"../../src/pin/mc_pin.adc"}
set IpADCList { ddr2 ../../src/ip/ddr2/src/adc/ddr2.adc }
set IpSDCList { ddr2 ../../src/ip/ddr2/src/sdc/ddr2.sdc w128_d512_fifo ../../src/ip/w128_d512_fifo/w128_d512_fifo.tcl }
set SDCList {"../../src/pin/mc_timing.sdc"}
set area_option -packarea
set arr_filter false
set device_name ph1_35p.db
set drHoldFix on
set end_step bitgen
set package_name PH1P35MDG324
set parent ../syn_1
set prj_name {MinecraftDog_FPGA}
set run_type phy
set speed 3
set start_step opt_place
set top_model_name {mctop}
